.home__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home {
  &__me {
    width: 50%;
    text-align: center;
  }
  &__photo {
    width: 40%;
    text-align: center;
  }
}
