.sidebar__container {
  display: flex;
  flex-direction: column;
  width: 80px;
  text-align: center;
  justify-content: center;
  background-color: black;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  &-icon {
    cursor: pointer;
    padding: 18px;
    color: white;
  }
}
.sidebar__social {
  height: 100px;
}
.footer-social {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;

  .fab {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar__container {
    flex-direction: row;
    width: 100vw;
    height: 60px;
    align-items: center;
  }

  /* For mobile phones: */
  .sidebar__nav {
    flex-direction: row;
  }
}
