.sidebar__container {
  display: flex;
  flex-direction: column;
  width: 60px;
  text-align: center;
  justify-content: center;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;

  &-icon {
    cursor: pointer;
  }
}
@media only screen and (max-width: 768px) {
  .sidebar__container {
    flex-direction: row;
    width: 100vw;
    height: 60px;
    align-items: center;
  }

  /* For mobile phones: */
  .sidebar__nav {
    flex-direction: row;
  }
}
